//Default Text Color
$body-text-color: #222;
//Default Font Family and Sizes
$body-font: 1em/1.4 sans-serif;
//Default Selection Color
$text-selection-color: #b3d4fc;
//Default border/hr color
$border-color: #ccc;

/*
 * Define and name all of your z-index values here.  CSS Nano will squish them, so be as large as you need.
 */
$z-layers: (
  'fullscreen': 100,
  'overlay'   : 9999,
);
